<section class="post pt-2">

    <h4 *ngIf="postNotFound">The requested post is no longer available!</h4>

  <app-post *ngIf="post" [post]="post"></app-post>


</section>

<section *ngIf="comments && !postNotFound" class="comments">
  <h4>Comments:</h4>

  <ng-container *ngIf="comments.length; else elseTemplate">
    <div class="comment" *ngFor="let comment of comments">
      <app-comment [comment]="comment"></app-comment>
    </div>
  </ng-container>

  <ng-template #elseTemplate>
    <div>
      No one commented on this post yet...
    </div>
  </ng-template>

</section>
